*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: wheat;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color:brown;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    height: 500px;
    width: 350px;
    background-color:rosybrown;
    border-radius: 15px;
    overflow: hidden;
    border: 4px solid blanchedalmond;
    position: relative;

}

#stories{
    height: 120px;
    width: 100%;
    border-bottom:  4px solid blanchedalmond;
    padding: 13px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-right: 5px;
}

#stories::-webkit-scrollbar{
    display:none;
}

.story{ 
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 3px solid  red;
    overflow: hidden;
    display: inline-block;
}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

}

#full-screen{
    height: 100%;
    width: 100%;
    position: absolute;
  background-size: cover;
  background-position: center;
    display: none;
}